#player1-score, #player2-score {
    font-family: 'Impact', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

#game-container {
    width: 800px;
    height: 400px;
    background-color: #D2691E;
    display: none;
    position: relative;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    transition: background-color 0.5s ease;
}

#tournament-visualizer{
    display: none;
}


#center-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.6);
    transform: translateX(-50%);
    z-index: 1;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#player1, #player2 {
    width: 20px;
    height: 100px;
    background-color: black;
    position: absolute;
}

#player1 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#player2 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#ball {
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}