body, html
{
    height: 100%;
    margin: 0;
	color :white;
}

#charts-page
{
	display: flex;
    flex-direction: column;	
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#title_charts
{
	width:100%;
	margin-top:50px; 
	display:flex;
	align-items: center;
	justify-content: center;


}

#graphs_charts
{
	flex-direction: column;
}

#grid-charts
{
	position : absolute;
	top :100px;
    display: flex;
	flex-direction: column;
    height:80%;
    width:95%;
    border:none;
}

#choice_graph_buttons
{
	display : flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	width : 100%;
	height: 10%;
}

#choice_graph_buttons button
{
	margin-right: 1vw;
}

#graphs_above
{
	width : 100%;
	height: 45%;
	display: flex;
	flex-direction: row;
}

#graphs_below
{
	width : 100%;
	height: 45%;
	display: flex;
	flex-direction: row;
}

#time-graph
{
	display: flex;
	width : 50%;
	height: 100%;
	text-align: center;
	justify-content: center;
}

#bars-score-by-game
{
	width : 50%;
	height: 100%;

}
/* PIE CHART */

#pie-win-defeat
{
	width : 50%;
	height: auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.pie-title
{
	font-size: 20px;
	font-weight: bold;
}

#pie-win-defeat div
{
	display : flex;
	flex-direction: row;
	height: 100%;
	width: 90%;
}


#pie-win-defeat div canvas
{
	width: 100%;
	height : 300px
}

#pie-win-defeat div .legend
{
	width: 25%;
	height : 100%;
	display: flex;
	font-size: 15px;
	flex-direction: column;
}


#pie-win-defeat div .legend-box-title
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


#pie-win-defeat div .legend-box-title .legend-boxes
{
	border: 1px solid black;
	width : 55px;
	height: 25px;
	margin-right : 5px;
	margin-bottom: 0;
}

/* BUTTONS*/

.btn-custom-pong
{
    background-color: rgba(44, 60, 105, 0.4);
    border: 2px solid gold;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Arial", serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right : 20px;
    margin-left : 20px;
	padding-top: 0.5vh;
	height : 4vh;
}

* {
    margin: 0;
    padding: 0;
  }
  body {
    background: #00003f;
    height: 98dvh;
  }
  
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    isolation: isolate;
    overflow: hidden;
  }
  
  .content {
    --_gap: 1.5rem;
    --_color: hsl(60 92% 71% / 1);
    width: 58%;
    max-width: 500px;
    padding: 2.75rem;
    border: 2px solid hsl(60deg 67% 44% / 64%);
    border-radius: 20px;
    color: var(--_color);
  }
  
  .content p {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: var(--_gap);
  }
  
  .content span {
    font-size: 1.3em;
    letter-spacing: 1.3px;
    line-height: 1.2;
  }
  
  .content button {
    display: block;
    margin-top: var(--_gap);
    padding: 0.6em 0.9em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    background: #020043;
    margin-left: auto;
    color: var(--_color);
  }
  
  .blob {
    position: absolute;
    opacity: 0.5;
    width: 400px;
    aspect-ratio: 1/1;
    animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
      alternate forwards;
    filter: blur(40px);
    z-index: -1;
    background: linear-gradient(
      47deg,
      rgba(255, 88, 139, 1) 21%,
      rgb(0 164 173) 67%,
      rgba(118, 74, 166, 1) 81%
    );
  }
  
  @keyframes animate {
    0% {
      translate: 40% -25%;
      border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
    }
    50% {
      translate: 0% 13%;
      border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
      rotate: 41deg;
      scale: 1.15;
    }
    100% {
      translate: -45% 39%;
      border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
      rotate: -60deg;
      scale: 1.05;
    }
  }