body, html
{
    height: 100%;
    margin: 0;
    background-color: rgb(39, 79, 148);
}

#charts-page
{
	display: flex;
    flex-direction: column;	
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#grid-charts
{
	position : absolute;
	top :100px;
    display: grid;
    justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    height:85%;
    width:95%;
    border:none;

}

.grid-item-chart
{
	width : 97%;
	height : 97%;
	display : flex;
	flex-direction: column;	
    justify-content: center;
	align-items: center;	
	border: 1px solid rgb(20, 19, 20);

}



/* BARS CSS */

.chart_body
{
	display: grid;
	grid-template-columns: 1fr 11fr;
	grid-template-rows: 11fr 1fr;
	height: 100%;
	width: 100%;
}

.bar_chart
{
	display : flex;
	flex-direction: row;
	align-items: flex-end;
	width : 100%;
	height: 100%;	
}

.bar_chart_el
{
	background-color: rgb(28, 183, 255);
	margin-left: 5%;
}

.bar_chart_el:hover
{
	background-color: rgb(255, 163, 59);
}

/* AXES CSS */
.axe_y_and_legend
{
	display : flex;
	flex-direction: row;
	width : 100%;
	height: 100%;
}

.axe_x_and_legend
{
	display : flex;
	flex-direction: column;
	background-color: rgb(255, 163, 59);
	width : 100%;
	height: 100%;	
}

.legend_x
{
	height: 67%;
	width: 100%;
	font-size: 0.8vw;
	text-align: center;
}

.legend_y
{
	height: 100%;
	width: 33%;
}

.axe_y_chart
{
	width : 100%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid rgb(0,0,0);
	display : grid;
	grid-template-columns: 3fr 2fr;
}

.axe_x_chart
{
	width : 100%;
	height: 33%;
	box-sizing: border-box;
	border-top: 1px solid rgb(0,0,0);
	display:flex;
	flex-direction: row;
}

.origin_chart
{
	margin-left: auto;
	display : grid;
	grid-template-columns: 3fr 2fr;
	width : 100%;
	height: 100%;
}

/* .origin_chart .item_axe_y_txt p
{
	margin-left : auto;
	width : 67%;
} */

.grid-item-chart h2
{
	text-align: center;
}

.item_axe_y_line
{
	box-sizing: border-box;
	border-top: 1px solid rgb(0,0,0);
}

.item_axe_y_txt
{
	font-size : 60%;
}

.item_axe_x_txt
{
	font-size : 60%;
}


/* PIE CHART */

#pie-win-defeat
{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

/* #pie-win-defeat .chart_body
{
	margin-top: 10%;
	height: 60%;
	width: 60%;
}

#pie-chart
{	
	width: 100%;
	height: auto;
	aspect-ratio: 1; 
	border-radius: 50%;
} */
	/* position:relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
  
#pie-win-defeat .slice-one 
{
	position:absolute;

	width: 200px;
	height: 200px;
	background-color: lightblue;
	clip: rect(0, 200px, 200px, 100px);
	border-radius: 50%;
	transform: rotate(0deg);
}

#pie-win-defeat .slice-two 
{
	position:absolute;

	width: 200px;
	height: 200px;
	background-color: lightcoral;
	clip: rect(0, 200px, 200px, 100px); 
	border-radius: 50%;
	transform: rotate(180deg);
} */