body, html
{
    height: 100%;
    margin: 0;
	background-color: rgb(198, 137, 255);
}

#charts-page
{
	display: flex;
    flex-direction: column;	
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#grid-charts
{
    flex-grow: 1; 
    justify-content: center;
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    height:100%;
    width:90%;
    border:none;

}

.grid-item-chart
{
	border: 2px solid rgb(0,0,0);
	width : 90%;
	height : 90%;
}