body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(39, 79, 148);
    color: white;
}

#history-grid {
    display: flex;
}

#history-container{
    width: 1000px;
    position: absolute;
    margin-top: 100px;
    margin-left: 25%;

}

.grid-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.2em;
    height: 28px;
    color: #333;
    margin: 10px;
}

.grid-compartment {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc; /* Séparation entre les compartiments */
}

.grid-compartment:last-child {
    border-right: none;
}
