body, html
{
    height: 100%;
    margin: 0;
}

#main-page
{
	display: flex;
    flex-direction: column;	
	align-items: center;
	width: 100vw;
	height: 100vh;
    background-color: rgb(39, 79, 148);
    background-image: url('../images/bg_home.jpg');
    background-position: top; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat;
}

#main-grid
{
    height : 100%;
    display :flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar 
{
    width: 100%;
    height: 10%;
	flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start; 
	border: none;
}

a
{
    color : white;
    font-weight: bold;
}

a:hover
{
    color : rgb(255, 102, 0);
    
}
