/* STRUCTURE*/

body 
{
    background-image: url('../images/bg_cyberpunk1.jpg');
    background-size: cover;
}

#app 
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width : 100vw;
}

#header-3d-menu
{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2vh;
    width : 10%;
    height: 100vh;
}

#col3
{
    padding-top: 3vh;
    width:10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display-pong-3D
{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2vh;
    width : 80%;
    height: 100vh;
}

#panel-3d-render
{
    display: none;
    flex-direction: row;
    gap :3vh;
    justify-content: center;
    height:100%;
    width:100%;
    border:none;
}

.grid-item
{
    border:none;
}

.view-player
{
    display: flex;
    justify-content: center;
    align-items: center;
	width : 100%;
	height: 100%;
    background-color: transparent;
}

/* BUTTONS */
.btn-custom-pong
{
    background-color: #ce2727;
    border: 4px solid rgb(124, 26, 23);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom-pong:hover
{
    font-style: normal;
    color : rgb(145, 19, 19);
}

/* */
#score-pong3d p
{
    margin-top : 2vh;
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 8vh;
    font-weight: bold;
    color : white;
}

#loading-screen
{
    height: 100%;
    display : none;
    justify-content: center;
    align-items: center;
}

#loading-screen h3
{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
}