/* Animations */
@keyframes zoomInFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOutFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

/* Containers */
#pong-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    animation: zoomInFadeIn 0.5s ease-in-out;
}

#background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#video-overlay1 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 1; /* Assurez-vous que le filtre est au-dessus de la vidéo */
}

#video-overlay2 {
    position: absolute;
    top: 20%;
    right: 50%;
    width: 50%;
    height: 80%;
    opacity: 0.6;
    z-index: 1; /* Assurez-vous que le filtre est au-dessus de la vidéo */
}

#rolandLogo {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#rodgerLogo {
    display: none;
    position: absolute;
    top: 20%;
    left: 100%;
    width: 35%;
    height: 90%;
    opacity: 0.9; 
    z-index: 1; 
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-left {
    transform: translateX(-90%);
    opacity: 0.8;
}

.slide-right {
    transform: translateX(100%);
    opacity: 0;
}

.slide-right-roland {
    transform: translateX(40%);
    opacity: 0;
}

.slide-left-roland {
    /* top: 0;
    left: 100%; */
    transform: translateX(-90%);
    opacity: 0.8;
}

#video-overlayGreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 0, 0.8); 
    z-index: 1;
}

#tournament-container-pong {
    display: none;
    flex-direction: column;
    align-items: center;
    animation: zoomInFadeIn 0.5s ease-in-out;
}

#tournament-container-pong.hide {
    animation: zoomOutFadeOut 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.5);
}

#tournament-visualizer-pong, #tournament-winner-pong {
    display: none;
    animation: zoomInFadeIn 0.5s ease-in-out;
}

#tournament-visualizer-pong.hide {
    animation: zoomOutFadeOut 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.5);
}

#game-container-pong {
    width: 800px;
    height: 400px;
    background-color: rgba(210, 105, 30, 0.8);
    display: none;
    position: relative;
    border-radius: 15px;
    animation: zoomInFadeIn 0.5s ease-in-out;
}

#game-container-pong.hide {
    animation: zoomOutFadeOut 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.5);
}

#tuto-container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    width: 300px;
    height: 450px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -20px;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

#tuto-container.show {
    display: flex; /* Affiche le conteneur */
    top: 0; /* Remet à la position d'origine */
    opacity: 1; /* Rend visible */
}

#top-title {
    position: absolute;
    top: 20px; /* Ajustez selon vos besoins */
    left: 50%;
    width: 100%; 
    color: white;
    transform: translateX(-50%);
    font-size: 30px; /* Ajustez selon vos besoins */
    text-align: center;
    font-weight: bold;
}

#middle-title {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 100%; 
    color: white;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Ajustez selon vos besoins */
    text-align: center;
    font-weight: bold;
}

#bottom-title {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%; 
    color: white;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Ajustez selon vos besoins */
    text-align: center;
    font-weight: bold;
}

#W-key{
    position: absolute;
    top: 14%;
    left: 20%;
    width: 18%;
    height: 12%;
    opacity: 0.6;
}

#S-key{
    position: absolute;
    top: 14%;
    right: 20%;
    width: 18%;
    height: 12%;
    opacity: 0.6;
}

#Up-key{
    position: absolute;
    top: 45%;
    left: 20%;
    width: 18%;
    height: 12%;
    opacity: 0.6;
}

#Down-key{
    position: absolute;
    top: 45%;
    right: 20%;
    width: 18%;
    height: 12%;
    opacity: 0.6;
}

#G-key{
    position: absolute;
    top: 80%;
    left: 20%;
    width: 18%;
    height: 12%;
    opacity: 0.6;
}

#B-key{
    position: absolute;
    top: 80%;
    right: 20%;
    width: 18%;
    height: 12%;
    opacity: 0.6;
}

#main-menu-buttons-pong {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home-pong{
    display: none;
    animation: zoomInFadeIn 0.5s ease-in-out;
}


#select-chelem {
    display: none; /* Masqué par défaut */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    width: 300px;
    height: 450px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -20px;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

#select-chelem.show {
    display: flex; /* Affiche le conteneur */
    top: 0; /* Remet à la position d'origine */
    opacity: 1; /* Rend visible */
}


#play-pong {
    display: none;
    position: absolute;
    top: 45%;
    left: 42%;
    z-index: 3;
}

/* Grid */
.grid-container-pong {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

.grid-3d-render {
    display: grid;
    grid-template-columns: 95fr 5fr 95fr;
    height: 100%;
    width: 100%;
}

.grid-item-pong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Images */
.grid-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-left: 0px;
    margin-top: 100px;
    border-radius: 15px;
}

/* Buttons */
.btn-custom-pong, .btn-custom2-pong, .btn-custom3-pong {
    background-color: rgba(210, 105, 30, 0.1);
    border: 4px solid #e2e2e2;;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button-coop{
    position: absolute;
    left: 46.5%;
    bottom: 300px;
}

.btn-custom-pong {
    padding: 20px 40px;
}

.btn-custom-pong:hover, .btn-custom2-pong:hover, .btn-custom3-pong:hover {
    background-color: #c0611d;
}

.btn-custom-pong:hover {
    background-color: #c0611d;
    transform: scale(1.2);
}

.btn-custom2-pong {
    padding: 10px 20px;
}

.btn-custom4-pong {
    padding: 10px 20px;
    margin-top: 5px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #e2690613;
    border: 3px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom4-pong:hover {
    background-color: #c0611d;
    transform: scale(1.1);
}

.btn-custom4-pong.selected {
    background-color: #c0611d;
}

.btn-custom4-pong.not-selected {
    background-color: #e2690613;
    border-color: #ccc;
}

.btn-custom5-pong {
    padding: 10px 20px;
    margin-top: 10px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #e2690613;
    border: 3px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom5-pong:hover {
    background-color: #c0611d;
    transform: scale(1.1);
}

.btn-custom5-pong.selected {
    background-color: #c0611d;
}

.btn-custom5-pong.not-selected {
    background-color: #e2690613;
    border-color: #ccc;
}

.btn-custom6-pong {
    padding: 10px 20px;
    margin-top: 30px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #e2690613;
    border: 3px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom6-pong:hover {
    background-color: #c0611d;
    transform: scale(1.1);
}

.btn-custom6-pong.selected {
    background-color: #c0611d;
}

.btn-custom6-pong.not-selected {
    background-color: #e2690613;
    border-color: #ccc;
}



/* Text */
#tournament-winner-pong, 
#player1_tv-pong, 
#vs_tv-pong, 
#player2_tv-pong, 
#game-name, 
#player1-score, 
#player2-score {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
}

#player1_tv-pong, #vs_tv-pong, #player2_tv-pong {
    font-size: 78px;
    margin: 0 50px;
    white-space: nowrap;
}

#game-name {
    font-size: 78px;
    margin-top: 80px;
}

.roland {
    color: white; /* Couleur pour Roland */
}

.gapong {
    color: #c0611d; /* Couleur pour Gapong */
}

#player1-score, #player2-score {
    font-size: 24px;
}

/* Miscellaneous */

#button-ia {
    margin-right: 50px;
}

#button-1v1 {
    margin-right: 50px;
}

.form-controls {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    margin: 0 10px;
}

#play-tournament-pong {
    margin-top: 20px;
}

#center-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-50%);
    z-index: 1;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#player1, #player2, #player3{
    width: 20px;
    height: 100px;
    border-radius: 50px;
    background-color: grey;
    position: absolute;
    border: 2px solid darkgray;
}

#player3 {
    display: none;
    left: 48.7%;
    top: 50%;
    z-index: 2;
}

#player1 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#player2 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#visuIA {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color:red;
}

#ball {
    display: none;
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid white;
}