/* STRUCTURE*/

body 
{
    background-image: url('../images/bg_cyberpunk1.jpg');
    background-size: cover;
}

#app 
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width : 100vw;
}

#menuPong3D
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width : 70%;
}

#header-3d-menu
{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2vh;
    width : 15%;
    height: 100vh;
}
#header-save-choices-pong3d
{
    padding-top: 3vh;

    width:15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* BUTTONS*/

.btn-custom-pong:hover
{
    font-style: normal;
    color : rgb(145, 19, 19);
}

.btn-custom-pong
{
    background-color: #ce2727;
    border: 4px solid rgb(124, 26, 23);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* MODES */
.item-avatar-3d.field
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 223, 65,0) !important;
    border: solid 4px rgba(255, 223, 65,0) !important;    
}

.item-avatar-3d.field:hover
{
    background-color: rgba(255, 223, 65,0) !important;
    border: solid 4px rgba(255, 223, 65,0) !important;
}

#pong3d-customization-mode
{
    width : 100%;
    height : 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 3vh;
}

#pong3d-customization-player1
{
    width : 100%;
    height : 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 3vh;
}

#pong3d-customization-player2
{
    width : 100%;
    height : 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 3vh;
}

.item-avatar-3d
{
    width : 15%;
    height : 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    padding : 3px;    
}

#pong3d-customization-mode .item-avatar-3d:hover
{
    border: solid 4px rgb(255, 223, 65);
}

#pong3d-customization-mode .item-avatar-3d
{
    background-color: rgba(231, 94, 35, 0.815);
    width: 15%;
    color : white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 4px rgba(255, 223, 65,0);

}

#pong3d-customization-player1 .item-avatar-3d:hover
{
    border: solid 4px rgb(255, 65, 106);
}

#pong3d-customization-player2 .item-avatar-3d:hover
{
    border: solid 4px rgb(0, 255, 255);
}

#pong3d-customization-player1 .item-avatar-3d
{
    background-color: rgba(255, 0, 0, 0.5);
}

#pong3d-customization-player2 .item-avatar-3d
{
    background-color: rgba(0, 0, 255, 0.5);
}

#customization-pong-1-player-1, #customization-pong-1-player-2
{
    background-image: url('../images/parallelepipede.png');
}

#customization-pong-2-player-1, #customization-pong-2-player-2
{
    background-image: url('../images/deathstroke-cosplayer.png');
}

#customization-pong-3-player-1, #customization-pong-3-player-2
{
    background-image: url('../images/borderlands-cosplayer.png');
}

#customization-pong-4-player-1, #customization-pong-4-player-2
{
    background-image: url('../images/harley-quinn-cosplayer.png');
}

h3 
{
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
}

