
/*/////////////////////////////////////*/

.square-card {
    width: 400px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px; /* Arrondir les bordures */
    border: 2px solid gold; /* Bordures jaunes or */
    background-color: rgba(128, 128, 128, 0.5); /* Fond gris légèrement transparent */
}

.card-title {
    color: gold;; /* Couleur jaune */
    font-weight: bold; /* Texte en gras */
}

.card-text {
    color: gold;; /* Couleur jaune */
    font-weight: bold; /* Texte en gras */
}

.square-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.square-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page-title{
    font-weight: bold;
    text-align: left;
    color: black;
}

#button_to_login{
    position: absolute;
    right: 30px; 
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
}

#button_to_register {
    position: absolute;
    right: 120px;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
}

#button_to_42api {
    position: absolute;
    right: 220px;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
}

#button_to_42api.logged-in {
    background-color: #28a745;
    color: white;
}

#tournament-container {
    display: none;
}

#app
{
    width: 100vw;
    height: 100vh;
}


/*//////// BUTTONS STYLE /////////*/
.btn-custom-pong {
    padding: 20px 40px;
}

.btn-custom-pong:hover, .btn-custom2-pong:hover, .btn-custom3-pong:hover {
    background-color: #c0611d;
    text-decoration: none;

}

.btn-custom2-pong {
    padding: 10px 20px;
}

.btn-custom3-pong {
    padding: 10px 20px;
    margin-top: 5px;
    width: 200px;
    text-align: center;
}

/*----------NAVBAR-----------*/
#navbar
{
    background-color: rgba(44, 60, 105, 0.6);
    position : absolute;
    top : 0px;
    width: 100%;
    height: 6vh;
    min-height: 60px;
	flex-direction: row;
    justify-content: center; 
    align-items: center; 
	border: none;  
    margin-bottom: 2%;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 a, .navbar-brand
{
    color : white;
    font-weight: bold;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 a:hover, .navbar-brand:hover
{
    color : gold;
}

/* .navbar-nav .nav-item .nav-link,
.d-flex .btn {
    display: flex;
    align-items: center;
    height: 100%;
} */
