
/*/////////////////////////////////////*/

.square-card {
    width: 300px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.square-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page-title{
    font-weight: bold;
    text-align: left;
    color: black;
}

#button_to_login{
    margin-left: 1300px;
}

#button_to_register{
    margin-left: 10px;
    margin-right: 30px;
}

#tournament-container {
    display: none;
}

#app
{
    width: 100vw;
    height: 100vh;
}


/*//////// BUTTONS STYLE /////////*/
.btn-custom-pong {
    padding: 20px 40px;
}

.btn-custom-pong:hover, .btn-custom2-pong:hover, .btn-custom3-pong:hover {
    background-color: #c0611d;
}

.btn-custom2-pong {
    padding: 10px 20px;
}

.btn-custom3-pong {
    padding: 10px 20px;
    margin-top: 5px;
    width: 200px;
    text-align: center;
}