
/* TOURNAMENT VISUALISEUR */

#tournament-visualizer-pong{
    display: none;
}

#tournament-winner-pong{
    display: none;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color : white;
}

#player1_tv-pong, #vs_tv-pong, #player2_tv-pong{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color : white;
    font-size: 78px;
    margin: 0 50px;
    white-space: nowrap;
}

/* BUTTONS MAIN MENU */

#game-name {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 78px;
    color: white;
    margin-top: 80px;
}

#main-menu-buttons-pong {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-1v1 {
    margin-right: 50px; /* Ajustez la marge selon vos besoins */
}

#button-tournament-pong{
    margin-left: 50px; /* Ajustez la marge selon vos besoins */
}

#select-chelem {
    display: flex;
    flex-direction: column; /* Aligne les boutons en colonne */
    align-items: center; /* Centre les boutons horizontalement */
    gap: 10px; /* Espace entre les boutons */
    background-color: #808080; /* Couleur de fond gris */
    width: 300px; /* Largeur du carré */
    height: 300px; /* Hauteur du carré */
    border-radius: 15px; /* Coins arrondis */
    padding: 20px; /* Padding interne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
}

.btn-custom3-pong {
    background-color: #D2691E;
    border: 2px solid rgb(212, 209, 209);
    color: rgb(255, 255, 255);  
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Largeur des boutons */
    text-align: center; /* Centre le texte à l'intérieur des boutons */
}

.btn-custom3-pong:hover {
    background-color: #c0611d; /* Couleur de fond lors du survol */
}
/* BUTTONS TOURNAMENT MENU */

#tournament-container-pong {
    display: none;
    flex-direction: column;
    align-items: center;
}

.form-controls {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    margin: 0 10px;
}

#play-tournament-pong {
    margin-top: 20px;
}

/* GAME CONTAINER */

#player1-score, #player2-score {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 24px;
    color : white;
}

#game-container-pong {
    width: 800px;
    height: 400px;
    background-color: rgba(210, 105, 30, 0.8);
    display: none;
    position: relative;
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    border-top: 20px solid rgb(255, 255, 255);
    border-bottom: 20px solid rgb(255, 255, 255);
    border-radius: 15px; 
}

#button-play-next-tournament {
    display: none;
    position: absolute;
    top: 45%;
    left: 42%;
    z-index: 3;
}

#center-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.6);
    transform: translateX(-50%);
    z-index: 1;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#player1, #player2 {
    width: 20px;
    height: 100px;
    background-color: black;
    position: absolute;
}

#player1 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#player2 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


#ball {
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid white;
}