body {
    background-color: #707473;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-image: url('bapasqui.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat; */
}

h2 {
    color:#e5ff00;
}

.login-btn {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espace intérieur (padding) */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur de la souris en forme de main */
    transition: background-color 0.3s ease; /* Animation lors du survol */
}